@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    /* width: 8.25in;
    height: 11.75in;
    margin: 0;
    padding: 0; */
  }
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}

html,
body,
.cv-container {
  /* width: 210mm; */
  height: 297mm;
  /* width: 8.25in;
  height: 11.75in; */
  margin: 0;
  padding: 0;
}

.cv-container {
  --at-apply: flex flex-wrap divide-x-4;
}

.cv-page {
  --at-apply: relative flex h-full w-[210mm];
}

.col {
  --at-apply: h-full p-7;
}

.left {
  --at-apply: relative pl-12 pr-12;
  width: 45%;
}

.right {
  /* --at-apply: pl-0 pt-28; */
  --at-apply: pl-0 pt-10;
}

.avatar-container {
  --at-apply: relative z-20 mb-5 flex align-middle justify-center;

  position: relative;
  z-index: 20;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  /* background-image: url(/avatar.png); */
  background-image: url("https://cdn.jsdelivr.net/gh/fr0stf0x/curriculum-vitae/avatar.png");
  /* height: 17.5rem; */
  /* width: 15rem; */
  height: 20rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: -1.5rem -1.5rem; /* zoom trick */
  background-size: 20rem auto;
  /* background-size: 17rem auto; */
}

.avatar-container > img {
  /* --at-apply: object-cover; */
  /* height: 15rem;
  object-position: top; */
}

.layer-border {
  --at-apply: absolute z-10 border-2 border-solid border-gray-500
    pointer-events-none select-none;
  inset: 1.5rem;
  top: 7.25rem;
}

.right {
  --at-apply: flex-1;
}

.section:not(:last-child) {
  --at-apply: mb-8;
}

.section-title {
  --at-apply: font-display font-semibold text-2xl mb-3;
}

.section-content {
  --at-apply: font-body text-base;
}

.bio .section-title {
  --at-apply: text-3xl mb-2;
}

.bio .section-content {
  --at-apply: uppercase text-xl;
}

.contact .section-content {
  --at-apply: space-y-2;
}

.contact .contact-item {
  --at-apply: flex;
}

.contact .contact-item > svg {
  --at-apply: mr-3;
}

.achivement .headline {
  --at-apply: flex justify-between items-center;
}

.achivement strong {
  --at-apply: font-semibold;
}

.achivement .headline span:first-child {
  --at-apply: text-lg;
}

.company-name {
  --at-apply: font-semibold text-xl;
}

.role {
  --at-apply: font-semibold text-lg;
}

.work-experience .company-name {
  --at-apply: mb-1;
}

.achivement .list-disc,
.achivement .list-square {
  --at-apply: ml-4;
  /* --at-apply: list-inside; */
}

.timeline .section-content {
  --at-apply: space-y-4 border-l border-neutral-300;
}
.timeline .time-point {
  --at-apply: flex items-center;
}
.timeline .time-point > div:first-child {
  --at-apply: -ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-neutral-300;
}

.timeline .timeline-content {
  --at-apply: ml-4;
}

.cv-page .page-number {
  --at-apply: absolute -bottom-5 left-1/2 -translate-x-1/2;
}

@media print {
  .cv-container {
    --at-apply: divide-x-0;
  }

  .cv-page .page-number {
    display: none;
  }
}
