@page {
  size: A4;
  margin: 0;
}

@page :first {
  margin-top: 0;
}

@page {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  .cv-page > *:not(last-child) {
    margin-bottom: 1rem;
  }
}

@media print {
  .cv-container {
    @apply: divide-x-0 divide-y-0;
  }

  .section:not(:last-child) {
    @apply: !mb-1;
  }
}

html,
body,
.cv-container {
  /* height: 297mm; */
  margin: 0;
  padding: 0;
}

.cv-container {
  @apply: flex flex-wrap divide-x-0 2xl:divide-x-4 divide-y-4 2xl:divide-y-0 p-7;
}

.cv-page {
  @apply: relative h-full gap-y-5 gap-x-10;
}

@media screen {
  .cv-page {
    /* @apply: flex justify-center w-full flex-wrap; */
    @apply: grid justify-center w-full;
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(calc(100vw - 3.5rem), calc(210mm - 3.5rem)), 0.7fr)
    );
  }

  .cv-page > * {
    /* width: calc(210mm - 3.5rem); */
    /* flex: 0.3 1 calc(210mm - 3.5rem); */
  }
}

.col {
  @apply: p-7;
}

.left {
  @apply: relative px-5;
  flex: 0 0 295px;
}

.right {
  flex: 1 1 360px;
}

.avatar-container {
  @apply: relative z-20 mb-5 flex align-middle justify-center;

  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background-image: url("/avatar-compressed.png");
  height: 15rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: -1rem -1.5rem; /* zoom trick */
  background-size: 18rem auto;
}

.layer-border {
  @apply: absolute z-10 border-2 border-solid border-gray-400
    pointer-events-none select-none;
  inset: 0rem;
  top: 3rem;
}

.section:not(:last-child) {
  @apply: mb-5;
}

.section-title {
  @apply: font-display font-semibold text-2xl mb-1;
}

.section-content {
  @apply: font-body text-base;
}

.bio .section-title {
  @apply: text-2xl;
}

.bio .section-content {
  @apply: text-xl;
}

.contact .section-content {
  @apply: space-y-2;
}

.contact .contact-item {
  @apply: flex;
}

.contact .contact-item > svg {
  @apply: flex-[0_1_1.5rem] mr-3;
}

.contact .contact-item span {
  @apply: flex-[1_1_auto];
}

.education .achivement {
  @apply: p-0 mb-1;
}

.education .company-name {
  @apply: text-lg;
}

.education .role {
  @apply: text-base mb-0;
}

.headline {
  @apply: flex justify-between items-center;
}

.achivement strong {
  @apply: font-semibold;
}

.achivement .headline {
  @apply: text-lg;
}

.company-name {
  @apply: font-semibold text-xl text-blue-700;
}

.role {
  @apply: font-semibold text-lg mb-1;
}

.achivement .list-disc,
.achivement .list-square {
  @apply: ml-4;
  /* @apply: list-inside; */
}

.timeline .section-content {
  @apply: space-y-4 border-l border-neutral-300;
}
.timeline .time-point {
  @apply: flex items-center;
}
.timeline .time-point > div:first-child {
  @apply: -ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-gray-500;
}

.timeline .timeline-content {
  @apply: ml-4;
}
